.container {
	@include breakpoint(xl) {
		max-width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.pt-120 {
	padding-top: calc(1vw + 70px);
}
.pb-120 {
	padding-bottom: calc(1vw + 70px);
}
