.btn--base {
	line-height: 16px;
	background: $base;
	border: 1px solid $base;
	color: $white;
	outline: none;
	box-shadow: none !important;
	@include border-radius(22px);
	padding: 12px 40px;
	font-weight: 500;
	&:hover,
	&:focus {
		color: $base;
		border-color: $base;
		background: transparent;
	}
	@include breakpoint(sm) {
		font-size: 18px;
	}
	&.btn-sm {
		font-size: 14px;
		padding: 6px 21px;
		@include border-radius(20px);
	}
}
