.btn--base {
	padding: 7px 20px;
	font-size: 14px;
	line-height: 16px;
	background: $base;
	border: 1px solid $base;
	color: $white;
	outline: none;
	box-shadow: none !important;
	@include border-radius(16px);
	&:hover {
		color: $base;
		border-color: $base;
		background: transparent;
	}
}
