$bootstrap-sass-asset-helper: false !default;

$title: #333333;
$body-color: #333333;
$base: #2caee2;
$white: #fff;
$heading: "Montserrat", sans-serif;
$body: "Montserrat", sans-serif;
$transition: all ease 0.3s;
$border-color: #d7d7d7;
