/*Section Header Starts*/
.section__header {
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	z-index: 1;
	&.text-center {
		.section__text {
			margin-left: auto;
			margin-right: auto;
			max-width: 532px;
		}
	}
	.section__title {
		margin-bottom: 12px;
	}
	@include breakpoint(md) {
		margin-bottom: 45px;
	}
}
/*Section Header Ends*/
/*About Section Starts*/
.about__shape {
	position: absolute;
	left: 0;
	right: calc(50% + 410px);
	bottom: -130px;
	direction: rtl;
	img {
		min-width: 100%;
	}
	@include breakpoint(max-xxl) {
		right: calc(50% + 180px);
		@include breakpoint(xl) {
			bottom: -54px;
		}
	}
	@include breakpoint(xxl) {
		right: calc(50% + 260px);
	}
	@include breakpoint(max-md) {
		display: none;
	}
}
.about__thumb {
	position: relative;
	z-index: 1;
	@include breakpoint(max-md) {
		max-width: 450px;
		margin: 0 auto;
		img {
			max-width: 100%;
		}
	}
}
.rtl {
	direction: rtl;
}
.ltr {
	direction: ltr;
}
.about__content {
	.btn--base {
		margin-top: 10px;
	}
	&.style__two {
		max-width: 502px;
	}
}
/*About Section Ends*/
/*Video Consultation Section Starts*/
.video__shape {
	position: absolute;
	bottom: 60px;
	right: 0;
	height: 501px;
	left: calc(50% - 1px);
	img {
		width: 100%;
		height: 100%;
	}
	@include breakpoint(max-xl) {
		height: 490px;
	}
}
/*Video Consultation Section Ends*/
/*Feature Section Starts Here*/
.feature__item {
	text-align: center;
	&-icon {
		font-size: 42px;
		line-height: 1;
		color: $base;
		display: block;
		margin-bottom: 19px;
	}
	&-cont {
		&-title {
			margin-bottom: 17px;
		}
		&-txt {
			max-width: 246px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
/*Feature Section Ends Here*/
/*Step Section Starts Here*/
.step__shapes {
	position: absolute;
	bottom: 0;
	left: 0;
	right: calc(50% + 40px);
	img {
		width: 100%;
		max-width: 526px;
		@include breakpoint(xxl) {
			max-width: 680px;
		}
	}
}
.step__item {
	display: flex;
	&-serial {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		@include border-radius(50%);
		background: $base;
		color: $white;
		font-weight: 600;
		font-size: 24px;
	}
	&-content {
		width: calc(100% - 40px);
		padding-left: 22px;
		&-title {
			margin-bottom: 10px;
		}
		p {
			max-width: 412px;
		}
	}
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}
.step__thumb {
	text-align: center;
	@include breakpoint(max-md) {
		margin: 0 auto;
		img {
			max-width: 200px;
		}
	}
}
/*Step Section Ends Here*/
/*Pharmacy Section Starts Here*/
.pharmacy__item {
	border: 1px solid $border-color;
	border-radius: 10px;
	padding: 29px 25px;
	&-title {
		color: $base;
		margin-bottom: 10px;
	}
	&-content {
		display: flex;
		.icon {
			width: 40px;
			height: 40px;
			line-height: 37px;
			text-align: center;
			font-size: 20px;
			@include border-radius(50%);
			background: $base;
			color: $white;
		}
		.text {
			width: calc(100% - 40px);
			padding-left: 22px;
		}
	}
}
@include breakpoint(max-md) {
	.pt-max-md-0 {
		padding-top: 0 !important;
	}
	.pb-max-md-0 {
		padding-bottom: 0 !important;
	}
}
@include breakpoint(max-sm) {
	.pt-max-sm-0 {
		padding-top: 0 !important;
	}
	.pb-max-sm-0 {
		padding-bottom: 0 !important;
	}
}
/*Pharmacy Section Ends Here*/
/*Service Section Starts Here*/
.service__thumb {
	img {
		max-width: 100%;
	}
}
.serviceTabMenu {
	li {
		font-size: 18px;
		line-height: 28px;
		font-weight: 500;
		text-transform: capitalize;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		&.active {
			color: $base;
		}
	}
}
/*Service Section Ends Here*/
